/InverseArray.class
/Program.class
/ArraysTask.class
/MaximumValue.class
/ChangeArrays.class
/AddElement.class
/ArraysHelper.class
/PowerOfTwo.class
/SumOfElements.class
/AddValueOfElement.class
/RemoveElement.class
